
Update README.md for every feature added or changed or deleted.
Use context7 when ever needed for updated framework documentation.

- uses bunjs
- use pnpm for installation
- use bun --bail --serial test for test
- avoid mocks for testing, use real data
- refer to README.md for project overview and statuses
- refer to TODO.md for ongoing tasks
- what ever features are to be added or change, please check prisma documentation using context7 for up to date features before implementing the feature
